In [2]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [3]:
catastrofes = pd.read_csv("accidentesAviones.csv")
catastrofes.head(1)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."

Elimino filas que contienen VUELOS MILITARES

In [4]:
true_index = catastrofes['OperadOR'].str.contains('Mili').index[catastrofes['OperadOR'].str.contains('Mili') == True]

In [5]:
catastrofes.drop(true_index, inplace = True)

In [6]:
catastrofes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4241 entries, 1 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              4241 non-null   int64
 1   fecha                   4241 non-null   object
 2   HORA declarada          4241 non-null   object
 3   Ruta                    4241 non-null   object
 4   OperadOR                4241 non-null   object
 5   flight_no               4241 non-null   object
 6   route                   4241 non-null   object
 7   ac_type                 4241 non-null   object
 8   registration            4241 non-null   object
 9   cn_ln                   4241 non-null   object
 10  all_aboard              4241 non-null   object
 11  PASAJEROS A BORDO       4241 non-null   object
 12  crew_aboard             4241 non-null   object
 13  cantidad de fallecidos  4241 non-null   object
 14  passenger_fatalities    4241 non-null   object
 15  crew_fatalities         4241 non-null   object
 16  ground                  4241 non-null   object
 17  summary                 4241 non-null   object
dtypes: int64(1), object(17)
memory usage: 629.5+ KB

In [7]:
accidentes_civiles = catastrofes.rename(columns ={'HORA declarada':"hora", 'Ruta': "ruta", 'OperadOR':"operador", 'flight_no':"numero_vuelo", 'route':"tipo_vuelo",
       'ac_type':"tipo_nave", 'registration':"registro", 'all_aboard':"total_a_bordo", 'PASAJEROS A BORDO':"pasajeros_a_bordo",
       'crew_aboard':"tripulacion_a_bordo", 'passenger_fatalities':"pasajeros_fallecidos",
       'crew_fatalities':"tripulacion_fallecidos", 'ground':"fallecidos_en_suelo", 'summary':"resumen", 'Country':"pais"})

In [8]:
accidentes_civiles.head(1)

,Unnamed: 0,fecha,hora,ruta,operador,numero_vuelo,tipo_vuelo,tipo_nave,registro,cn_ln,total_a_bordo,pasajeros_a_bordo,tripulacion_a_bordo,cantidad de fallecidos,pasajeros_fallecidos,tripulacion_fallecidos,fallecidos_en_suelo,resumen
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...

In [9]:
accidentes_civiles.drop(accidentes_civiles.filter(regex="Unname"),axis=1, inplace=True)

In [10]:
profile = ProfileReport(accidentes_civiles)

In [11]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦